<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{listaractionfigure.nome}} </title>
</head>

<body>
    <h1>Informações do Action Figure</h1>
    <h2> {{listaractionfigure.nome}} </h2>
    <p>Nome: {{listaractionfigure.tipo}} </p>
    <p>Valor: {{listaractionfigure.preco}} </p>
    <a href="/actionfigure/edit/{{listaractionfigure.id}}"> EDITAR</a>
    <a href="/actionfigure/remove/{{listaractionfigure.id}}"> EXCLUIR</a>
    <a href="/catalogoactionfigures">VOLTAR</a>
</body>