<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>{{buscarbrinquedo.nome}}</title>
</head>

<body>
  <h1>Resultado da pesquisa: {{buscarbrinquedo.nome}}</h1>
  <hr />
  <img src="{{buscarbrinquedo.img}}" />
  <br />
  <strong>{{buscarbrinquedo.nome}}</strong>
  <br />
  Modelo:
  {{buscarbrinquedo.marca}}
  <br />
  Tipo:
  {{buscarbrinquedo.material}}
  <br />
  Preço:
  {{buscarbrinquedo.preco}}
  <br />
  <a href="/brinquedo/editar/{{buscarbrinquedo.id}}">EDITAR</a>
  <a href="/brinquedo/excluir/{{buscarbrinquedo.id}}">EXCLUIR</a>
  <a href="/catalogobrinquedos">VOLTAR</a>
</body>