{{#each listardados}}
<head>   
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Brinquedo "{{nome}}"</title>
</head>

<body>
    <header>

    </header>
    <main>
        
        <h1>{{nome}}</h1>
        - Marca: {{marca}}
        <br>
        - Tipo de material: {{material}}
        <br>
        - Preço: {{preco}}
        <br>
        <a href="/brinquedo/editar/{{id}}">Edite suas informações</a>
        <a href="/brinquedo/excluir/{{id}}">Excluir cliente</a>
    </main>
    <footer>

    </footer>

</body>
{{/each}}