{{#each listardados}}
<head>   
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Brinquedo "{{nome}}"</title>
</head>

<body>
        <h1>{{nome}}</h1>
        - Marca: {{marca}}
        <br>
        - Tipo de material: {{material}}
        <br>
        - Preço: {{preco}}
        <br>
        <a href="/brinquedo/editar/{{id}}">EDITAR</a>
        <a href="/brinquedo/excluir/{{id}}">EXCLUIR</a>
        <a href="/">VOLTAR</a>
 {{/each}}
</body>
