<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Cadastrar Associados</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
  <link rel="stylesheet" href="/public/css/empresa.css">
</head>
<h1>Informações da empresa</h1>


<form>
    <legend>Registro Da Empresa</legend>
    <div class="mb-3">
      <label class="form-label">CNPJ: {{listarEmpresa.cnpj}}</label>
      </div>
      <div class="mb-3">
      <label class="form-label">Email: {{listarEmpresa.email}}</label>
      </div>
      <div class="mb-3">
      <label class="form-label">Telefone: {{listarEmpresa.telefone}}</label>
      </div>
      <div class="mb-3">
      <label class="form-label">Endereço: {{listarEmpresa.local}}</label>
      </div>
   
</form>

<a href="/empresa/edit/{{listarEmpresa.cnpj}}"> EDITAR</a>

<br> <br>

<a href="/empresa/remove/{{listarEmpresa.cnpj}}"> EXCLUIR</a>

