<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{buscarfuncionario.nome}}</title>
</head>

<body>
        <h1>Resultado da pesquisa: {{buscarfuncionario.nome}}</h1>
        <hr>
        - <strong>{{buscarfuncionario.nome}}</strong>
        <br>
        - CPF: {{buscarfuncionario.cpf}}
        <br>
        - Cargo: {{buscarfuncionario.cargo}}
        <br>
        - Idade: {{buscarfuncionario.idade}}
        <br>
        <a href="/funcionario/editar/{{buscarfuncionario.cpf}}">EDITAR</a>
        <a href="/funcionario/excluir/{{buscarfuncionario.cpf}}">EXCLUIR</a>
        <a href="/listadefuncionarios">VOLTAR</a>

</body>