<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{buscarjogodemesa.nome}}</title>
</head>

<body>
    <h1>Resultado da pesquisa: {{buscarjogodemesa.nome}}</h1>
    <hr>
    - <strong>{{buscarjogodemesa.nome}}</strong>
    <br>
    - Modelo: {{buscarjogodemesa.genero}}
    <br>
    - Gênero: {{buscarjogodemesa.descricao}}
    <br>
    - Preço: {{buscarjogodemesa.preco}}
    <br>
    <a href="/jogodemesa/editar/{{buscarjogodemesa.id}}">EDITAR</a>
    <a href="/jogodemesa/excluir/{{buscarjogodemesa.id}}">EXCLUIR</a>
    <a href="/catalogojogodemesa">VOLTAR</a>
</body>