<head>
    {{#each listardados}}
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Jogo de mesa "{{nome}}"</title>
</head>

<body>

        <h1>{{nome}}</h1>
        - Gênero: {{genero}}
        <br>
        - Descrição: {{descricao}}
        <br>
        - Preço: {{preco}}
        <br>
        <a href="/jogodemesa/editar/{{id}}">EDITAR</a>
        <a href="/jogodemesa/excluir/{{id}}">EXCLUIR</a>
        <a href="/catalogojogosdemesa">VOLTAR</a>
        {{/each}}
</body>